.header {
    /* height: 10vh; */
    height: 100px;
    width: 100%;
    background-color: #fff;
    /* color: blueviolet */
    /* background-color: yellow; */
    /* border-bottom: 1px solid #297F87; */
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.logo {
    height: 95px;
    /* height: 90%; */
}

@media (max-width:475px) {
    .header {
        /* width: 300px; */
        width: 400px;
    }
}

@media (max-width:340px) {
    .header {
        width: 280px;
    }
}