

.App {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(120deg,#ffffff 20%,rgba(150, 150, 150, .9)),url(abstract_refined.jfif);
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

h6,
h5,
h4,
h3,
h2,
h1 {    
    font-weight: 300;
    text-transform: uppercase;
}
h4:hover,
h3:hover {
  background-color: #FFF7AE;
  transition: all 500ms;
}

.selected {
  color: orange;
  border-bottom: 1px solid orange;
}

.info-h3-selected{
    color: orange;
    border-bottom: 1px solid orange;
}

.p-text-search,
.p-text{
    margin: auto;
    margin-left: 0;
    color: #297F87;
}

.p-text-search{
    margin-left: 4px;
}

a {
  color: orange;
}

@media (max-width:460px) {
  h3 {
    font-size: 10px;
  }
}

@media (max-width:320px) {
  h1 {
    font-size: 30px;
  }
}