


/* .App {
  height: 500px;
  width: 500px;
  background-color: blueviolet;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */

.App {
  width: 100vw;
  min-height: 100vh;
  /* background-color: brown; */
  /* background-color: rgb(253, 253, 253); */

  /* background-color: rgba(175, 175, 175, 0.178); */

  background-image: linear-gradient(120deg,#ffffff 20%,rgba(150, 150, 150, .9)),url(abstract_refined.jfif);

  /* background-image: linear-gradient(120deg,#fff,rgba(150, 150, 150, 0.4)),url(abstract_refined.jfif); */


  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-position: right top;

  /* background-image: ; */

  /* background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70); */
  /* background-image: linear-gradient(99deg, #ff5959, #ff9770 40%, #6d8bcc 73%, #33497a); */
  /* background-image: linear-gradient(97deg,#99e7ee 10%, #4ee4f1 90%,rgba(167, 167, 167, 0.7)); */
  /* position: absolute;
  top: 0;
  left: 0; */

  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

h6,
h5,
h4,
h3,
h2,
h1 {    
    font-weight: 300;
    text-transform: uppercase;
}

/* .header {
  height: 100px;
  width: 100vw;
  background-color: brown;
} */