
.info-container{
    /* position: relative; */
    /* min-height: 100vh; */
    max-width: 100vw;
    /* background-color: #f7f4de; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-content: center;
    /* overflow: hidden;
    overflow: scroll; */
    /* z-index: 0; */
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 1); */
}

/* .info-container{
        min-height: 100vh;
    min-width: 100vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */

/* .header-menu{ */
    /* position: absolute; */
    /* height: 800px; */
    /* width: 800px; */
    /* margin: 50px; */
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* background-color: #fff; */
    /* background-color: rgb(30, 210, 60); */
    /* border-right: 1px solid #297F87; */
    /* border-bottom: 1px solid #4bdfec; */
    /* border-left: 1px solid #297F87; */
    /* overflow: auto; */
/* } */

.data-header{
    width: 1200px;
    border-bottom: 1px solid #4bdfec;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;

}

.right-column{
    height: 800px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 20px;
  }

/* .info-h4
.info-h3{
    color: #555;
}

.info-h3:hover,
.info-h4:hover {
    background-color: #FFF7AE;
    transition: all 500ms;
}

.info-h3-selected{
    color: orange;
    border-bottom: 1px solid orange;
}

.info-h2{
    color: #297F87;
    margin-left: 35%;
} */

/* .p-text-search,
.p-text{
    margin: auto;
    margin-left: 0;
    color: #297F87;
}

.p-text-search{
    margin-left: 4px;
} */

/* .p-text-generic{
    color: #297F87;
    float: right;
    margin: auto;
} */

/* .p-logout-text{
    margin-left: 75%;
    color: orange;
} */

.p-add-stat-text{
    color: orange;
    margin-left: 20px;
}

/* .info-list{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    overflow: hidden;
} */

.stats-input{
    /* height: 300px; */
    position: absolute;
    min-height: 240px;
    width: 180px;
    margin: auto;
    padding: 10px;
    border-radius: 2%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    overflow: auto;
    opacity: 100;
    transition: all 150ms;
    z-index: 5;
}

.stats-input-hide{
    height: 0;
    width: 0;
    opacity: 0;
    margin: 0px;
}

header.data-spec {
    position: sticky;
    top:0;
    background-color: #297F87;
    overflow: auto;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 4;
    display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: stretch;
	align-content: center;
  }

header.data-spec a,
header.data-spec strong {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    font-weight: 400;
    text-decoration: none;
  }

header.data-spec a:hover,
header.data-spec strong:hover {
    background-color: #8b1b1b;
    transition: all 500ms;
  }

.stats-container {
    min-height: 80vh;
    max-width: 80vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

  div.scrollitems{
    /* background-color: #297F87; */
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    overflow: auto;
    white-space: nowrap;
  }

  .data-spec-list div:nth-of-type(2n+1) {
    background-color: rgb(240, 240, 240);
    /* background-color: #DF2E2E; */
  }

  /* div.scrollitems-dark{
    background-color: rgb(240, 240, 240);
    background-color: #DF2E2E;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    overflow: auto;
    white-space: nowrap;
  } */



  /* div.scrollitems {
    margin: auto;
  } */

  div.scrollitems a {
      position: relative;
      /* margin: none; */
      width: 80px;
      /* margin-left: 15px; */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: stretch;
      overflow: none;
      height: 40px;
      justify-content: center;
  }

  div.scrollitems:hover {
      background-color: #297F87;
      color: #fff;
      transition: all 500ms;
  }

  .database-dropdown {

    position: absolute;
    min-height: 40px;
    min-width: 40px;
    /* margin: auto; */
    padding: 10px;
    border-radius: 2%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    overflow: auto;
    opacity: 100;
    transition: all 150ms;
    z-index: 5;
  }

  .database-dropdown-hide{
    height: 0;
    width: 0;
    opacity: 0;
    margin: 0px;
}

/* .input-element{
    height: 30px;
    margin-left: 10px;
} */

.search-bar{
    /* background-color: yellow; */
    width: 80vw;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    /* display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center; */

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	/* align-content: stretch; */
}

.search-input {
    /* margin: none; */
    margin-left: 40px;
}

/* .p-search-line {
    color: orange;
    margin-left: 20px;
    margin-right: 20px;
} */

/* ------- screen size query ------- */
@media (max-width: 1600px) {
    .info-container {
        width: 100vw;
    }
}

@media (max-width:1090px) {

    .right-column {
        width: 800px;
    }
    .data-spec {
        max-width: 800px;
    }
    .data-header {
        width: 800px;
        /* background-color: chocolate; */
    }
    .data-spec a {
        width: 10px;
        font-size: xx-small
    }
}

@media (max-width:885px) {
    .data-header {
        width: 700px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* font-size: smaller; */
        overflow-x: scroll;
    }
}

@media (max-width:685px) {
    .data-header {
        width: 100vw;
        font-size: x-small;
    }
}

@media (max-width:560px) {
    .data-header {
       /* display: none; */
       width: 400px;
       overflow-x: scroll;
    }
}

@media (max-width: 475px) {
    .info-container {
        width: 400px;
    }
}

@media (max-width:340px) {
    .info-container {
        width: 200px;
    }
} 