.auth-container {
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
    /* background-image: linear-gradient(97deg, #ff7a6e, #Ffd670); */

    /* background-image: linear-gradient(97deg, #7a0101, #1e07e6); */
    /* background-image: linear-gradient(100deg,rgba(0,0,0,.7), #7a0101 -20%, rgb(161, 139, 139) 60%, rgb(145, 145, 145) 70%, #1e07e6 200%),url(chessboard2.png); */
    /* background-image: linear-gradient(97deg,rgba(0,0,0,.7),#7a0101 10%,#1e07e6 20%,rgba(0,0,0,.7)),url(chessboard2.png); */
    background-image: linear-gradient(97deg,#b92525 20%,#297F87 20%,rgba(0,0,0,.7)),url(fence.jpg);
    /* width: 35vw; */
    width: 400px;
    /* height: 55vh; */
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    position: relative;
  }