

.admin-memo-body {
    padding: 0px;
    position: fixed;
    top: 40px;
    background-color: transparent;
    overflow: hidden;
}

.admin-memo-body table{
    margin: 0px;
    width: 100%;
}

.admin-memo-body input {
    width: 49%;
    padding: 0px;
}
.admin-memo-body textarea {
    width: 97%;
    height: 70%;
    margin-left: 1px;
}



@media (max-height:480px) {
    .admin-memo-body {top: 0px;}
}

@media (max-width:940px) {
    .admin-memo-body {
        margin-left: 3%;
        width: 90%;
    }
}

@media (max-width:450px) {
    .admin-memo-body input {
        width: 48%;
    }
}